@font-face {
  font-family: 'Axiforma';
  font-style: normal;
  font-weight: normal;
  src: url('~@/assets/font/AxiformaRegular.woff') format('woff');
}

@font-face {
	font-family: 'Axiforma';
	font-weight: bold;
	font-style: normal;
	src: url('~@/assets/font/AxiformaBold.woff') format('woff');
}

.grid {
  display: grid;
}
